*
{
	margin:0;
}

.header
{
	height:40px;
}

.main
{
	margin-top:20px;
	text-align:center;
}

.main table
{
	margin:auto;
	text-align:right;
	border:1px solid black;
}

table tr td
{
	padding:1vh;
}

button
{
	background-color:white;
	margin-top:1vw;
	border:1px solid black;
	padding:1vw;
}

.footer
{
	position:fixed;
	height:40px;
	margin-top:10vh;
}

.showdata table tr td
{
	text-align:center;
}

.showdata table tr:nth-child(even)
{
	background-color:#C3BEBE;
}

.showdata table tr td button
{
	margin-top:0 !important;
	padding:.5vw !important;
	margin-left:3px;
	cursor:pointer;
}

table tr th
{
	padding:1vh;
	text-align:center;
}



